extends layout.pug

mixin posterLink({ id, imdb }, height)
  .col-xs-2.col-m-2
    .posterBox
      a.posterLink(href=`/s/${id}`)
        img.posterImg(src=`//media.toonreboot.com/posters/${imdb}.h${height}.jpeg`)

mixin generatePosterBlock()
  .col-lg-12.col-md-12
    h2 Featured Streams
    .row#posterBlock
      .col-lg-12.col-md-12
        +generatePosters()

mixin generatePosters()
  -
    const posterHeight = 240;
    const postersPerRow = 5;
    const streamsChunks = [];
    const streams = [
      { id: 'nicktoons',     imdb: 'tr0000001', },

      { id: 'alwayssunny',   imdb: 'tt0472954', },
      { id: 'americandad',   imdb: 'tt0397306', },
      { id: 'bigbang',       imdb: 'tt0898266', },
      { id: 'bobsburgers',   imdb: 'tt1561755', },
      { id: 'cops',          imdb: 'tt0096563', },
      { id: 'familyguy',     imdb: 'tt0182576', },
      { id: 'futurama',      imdb: 'tt0149460', },
      { id: 'kennyspenny',   imdb: 'tt0384746', },
      { id: 'kingofthehill', imdb: 'tt0118375', },
      { id: 'mrpickles',     imdb: 'tt2950342', },
      { id: 'reno911',       imdb: 'tt0370194', },
      { id: 'rickandmorty',  imdb: 'tt2861424', },
      { id: 'seinfeld',      imdb: 'tt0098904', },
      { id: 'simpsons',      imdb: 'tt0096697', },
      { id: 'southpark',     imdb: 'tt0121955', },
      { id: 'spongebob',     imdb: 'tt0206512', },
      { id: 'taahm',         imdb: 'tt0369179', },
      { id: 'theoffice',     imdb: 'tt0386676', },
    ];
    for (var i = 0; i < Math.ceil(streams.length / postersPerRow); i++) {
      streamsChunks.push(streams.slice(postersPerRow * i, postersPerRow * (i + 1)));
    }
  each chunk in streamsChunks
    .row.posterRow
      each stream in chunk
        +posterLink(stream, posterHeight)


block content
  +generatePosterBlock()

  .col-lg-9.col-md-9
    h3 Channels
    table.table.table-bordered.table-striped
      thead
        th Channel
        th # Connected
        th Now Playing
      tbody
        each chan in channels
          tr
            td: a(href=`/${channelPath}/${chan.name}`) #{chan.pagetitle} (#{chan.name})
            td= chan.usercount
            td= chan.mediatitle
  .col-lg-3.col-md-3.hidden
    h3 Enter Channel
    input#channelname.form-control(type="text", placeholder="Channel Name")
    p.text-muted New channels can be registered from the <a href="/account/channels">My Channels</a> page.

append head
  link(href="/css/custom-index.css", rel="stylesheet")

append footer
  script(type="text/javascript").
    $("#channelname").keydown(function (ev) {
      if (ev.keyCode === 13) {
        location.href = "/#{channelPath}/" + $("#channelname").val();
      }
    });

